body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


body {
    font-family: Arial, sans-serif;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.product-card, .product-details {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    width: 200px;
}

.product-card img, .product-details img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}